<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Centered Message</title>-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--  <style>-->
<!--    body {-->
<!--        display: flex;-->
<!--        align-items: center;-->
<!--        justify-content: center;-->
<!--        height: 100vh;-->
<!--        background-color: #f8f9fa;-->
<!--    }-->

<!--    .message-container {-->
<!--        text-align: center;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container message-container">-->
<!--  <h1 class="display-4" th:text="${message}">Your Message Here</h1>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
